<html lang="en" layout:decorate="~{/user/layout/layout.html}">
<head>
    <title>applications</title>
</head>

<main layout:fragment="main">
    <form th:action="@{/application/create}" method="post" th:object="${form}">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">

            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
                       애플리케이션 이름
                    </label>
                    <input type="text" th:field="*{name}" placeholder="ex) sseg application" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="grid-first-name">
                    <p class="text-red text-xs italic">사용자의 애플리케이션 관리를 위한 이름으로, appId, appSecret과는 무관합니다.</p>
                </div>

                <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
                        도메인 이름
                    </label>
                    <input id="grid-last-name" type="text" th:field="*{domain}" placeholder="sseg.io" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4">
                    <p class="text-red text-xs italic">실제 SMTP 서버 도메인과는 관계가 없으며, 전송자 정보를 구성하기위한 정보로써 사용됩니다.</p>
                </div>
            </div>

            <div class="-mx-3 md:flex mb-2">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">
                        host: 호스트 도메인
                    </label>
                    <input th:field="*{smtpProperties.host}" id="grid-city" type="text" placeholder="ex) smtp-relay.sendinblue.com" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4">
                </div>

                <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                        port: 포트번호
                    </label>
                    <input th:field="*{smtpProperties.port}" id="grid-state" type="number" placeholder="ex) 587" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4">
                </div>

                <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="smtpUsername">
                        username
                    </label>
                    <input th:field="*{smtpProperties.username}" id="smtpUsername" type="text" placeholder="ex) sseg2023 or sseg2023@gmail.com" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4">
                </div>

                <div class="md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="smtpPassword">
                        password
                    </label>
                    <input th:field="*{smtpProperties.password}" id="smtpPassword" type="text" placeholder="28dbnDJgbu4bjd19dnbJjdbJDJF" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4">
                </div>
            </div>

            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
                        설명
                    </label>
                    <input th:field="*{description}" id="grid-password" type="text" placeholder="설명을 작성해주세요..." class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3">
                    <p class="text-grey-dark text-xs italic">애플리케이션에 관한 설명을 입력해주세요. (선택)</p>
                </div>
            </div>

        </div>

        <input type="submit" value="등록하기" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
    </form>
</main>
</html>