HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### security ###
src/main/resources/application-prod.yml
src/main/resources/application-secret.yml
.gitsecret/keys/random_seed
/.gitsecret/paths/mapping.cfg
/.gitsecret/keys/pubring.kbx
/.gitsecret/keys/trustdb.gpg
/src/main/resources/gpg-ownertrust.txt
/src/main/resources/gpg-secret.key
