<html lang="en" layout:decorate="~{/user/layout/layout.html}">
<head>
    <title>awaiting email verifying</title>
</head>

<main layout:fragment="main">
    <div class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
        <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
            <div class="relative">
                <div class="absolute">
                    <div class="">
                        <h1 class="my-2 text-gray-800 font-bold text-2xl">
                            이메일이 정상적으로 발송되었습니다!
                        </h1>
                        <p class="my-2 text-gray-800">이메일에 포함된 링크로 이동하여 회원가입을 완료해주세요. <br> 회원가입이 완료되었다면, 아래 버튼을 클릭하여 로그인해주세요</p>
                        <button class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">이메일 인증하고 로그인하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img th:src="@{/img/email_sended.gif}" alt=""  src="#">
        </div>
    </div>
</main>
</html>