<html lang="en" layout:decorate="~{/user/layout/layout.html}">
<head>
    <title>register</title>
</head>
<main layout:fragment="main">

    <div class="h-screen bg-indigo-100 flex justify-center items-center">
        <div class="lg:w-2/5 md:w-1/2 w-2/3">
            <form id="registerForm" th:action="@{/register}" method="post" class="bg-white p-10 rounded-lg shadow-lg min-w-full">
                <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">SSEG Register</h1>
                <div>
                    <label class="text-gray-800 font-semibold block my-3 text-md" for="username">아이디</label>
                    <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="username" id="username" placeholder="username" />
                </div>
                <div>
                    <label class="text-gray-800 font-semibold block my-3 text-md" for="email">이메일</label>
                    <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="email" id="email" placeholder="@email" />
                </div>
                <div>
                    <label class="text-gray-800 font-semibold block my-3 text-md" for="password">비밀번호</label>
                    <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="password" id="password" placeholder="password" />
                </div>
                <div>
                    <label class="text-gray-800 font-semibold block my-3 text-md" for="confirm">비밀번호 확인</label>
                    <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="passwordConfirm" id="confirm" placeholder="confirm password" />
                </div>
                <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">이메일 인증하고 가입하기</button>
                <button type="button" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Login</button>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('#registerForm').submit(function (form) {
                registerFormSubmit(form);
            });
        });


        function registerFormSubmit(event) {
            event.preventDefault();

            var form = $(event.target);

            var username = form.find("[name='username']");
            var password = form.find("[name='password']");
            var passwordConfirm = form.find("[name='passwordConfirm']");

            username.val($.trim(username.val()));

            if (username.val().length === 0) {
                alert('아이디를 입력해주세요.');
                username.focus();
                return;
            }

            if (username.val().length < 4) {
                alert('최소 아이디 길이는 5자리 입니다.');
                username.focus();
                return;
            }

            password.val($.trim(password.val()));

            if (password.val().length === 0) {
                password.focus();
                alert('비밀번호를 입력해주세요.');
                return;
            }

            passwordConfirm.val($.trim(passwordConfirm.val()));

            if (password.val() != passwordConfirm.val()) {
                alert('비밀번호 확인이 일치하지 않습니다.');
                passwordConfirm.focus();
                return;
            }

            form.get(0).submit();

        }

    </script>

</main>
</html>