<html lang="en" layout:decorate="~{/user/layout/layout.html}">
<head>
  <title>register</title>
</head>
<main layout:fragment="main">

  <div class="h-screen bg-indigo-100 flex justify-center items-center">
    <div class="lg:w-2/5 md:w-1/2 w-2/3">
      <form id="registerForm" th:action="@{/register}" th:object="${registerForm}" method="post" class="bg-white p-10 rounded-lg shadow-lg min-w-full">
        <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">SSEG Register</h1>

        <!-- 소셜 로그인 타입 -->
        <input type="hidden" th:field="*{provider}" />
        <input type="hidden" th:field="*{username}" />
        <input type="hidden" th:field="*{password}" />

        <!-- 이메일 -->
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="email">이메일</label>
          <input readonly th:field="*{email}" type="text" name="email" id="email" placeholder="@email" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" />
        </div>

        <!-- 닉네임 -->
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="nickname">닉네임</label>
          <input th:field="*{nickname}" type="text" placeholder="nickname" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" />
        </div>

        <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">이메일 인증하고 가입하기</button>
        <button type="button" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Login</button>
      </form>
    </div>
  </div>

</main>
</html>